.avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  height: 30px;
}

#winneravatar {
  border-radius: 00%;
  vertical-align: middle;
  height: 150px;
}
#leader {
  padding-left: 10%;
  padding-right: 10%;
}

#leader p {
  padding-left: 5%;
  padding-right: 5%;
}
