<!-- ad post popup form -->
<main role="main">
  <app-add-post></app-add-post>
</main>
<!-- ad post popup form -->

<!-- All Post List view -->
<div class="container main-section border">
  <div class="row mb-3">
    <button
      #addPost
      type="button"
      class="btn btn-outline-dark float-right m-2"
      data-toggle="modal"
      data-target="#postFormModal"
    >
      Create a new post
    </button>
  </div>
  <div *ngFor="let post of allPosts; let i = index" class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-lg-2 col-sm-2 col-5">
          <img
            src="https://picsum.photos/300/200"
            class="img-thumbnail"
            width="150px"
          />
        </div>
        <div class="col-lg-10 col-sm-10 col-7">
          <h3 class="title">{{ post.title }}</h3>
          <ng-container *ngIf="post.isReadMoremodus; else truncatedDescription">
            <p>
              {{ post.description }}
            </p></ng-container
          >
          <ng-template #truncatedDescription>
            <p>
              {{ post.description | truncate: 200 }}
            </p></ng-template
          >

          <button
            class="btn btn-sm btn-outline-dark"
            (click)="OntoggleReadMore(post.id)"
          >
            Read more
          </button>
          <ng-container *ngIf="post.author.username == currentUser">
            <button
              class="btn btn-sm btn-primary m-1"
              (click)="onEditPost(post)"
              data-toggle="modal"
              data-target="#postFormModal"
            >
              Edit
            </button>

            <button class="btn btn-sm btn-danger" (click)="onDeletePost(post)">
              Delete
            </button>
          </ng-container>
        </div>
      </div>
      <div class="row post-detail">
        <div class="col-lg-12 col-sm-12 col-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <img
                [src]="post.author.imageurl"
                class="rounded-circle"
                width="20px"
              />
              <span> by </span>
              <span *ngIf="post.author.username == currentUser; else notMyPost"
                >you</span
              >
              <ng-template #notMyPost>
                <span class="text-info">{{ post.author.username }}</span>
              </ng-template>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span> {{ post.publishedOn | relativeTime }}</span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-comment" aria-hidden="true"></i>
              <a
                class="pointer"
                data-toggle="collapse"
                [attr.data-target]="'#comments' + post.id"
              >
                <span> {{ post.comments.length }} Comments </span>
              </a>
            </li>
          </ul>

          <div id="comments{{ post.id }}" class="collapse">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                      <div class="col-sm-1">
                        <img
                          class="rounded-circle"
                          src="https://i.imgur.com/RpzrMR2.jpg"
                          width="40"
                        />
                      </div>

                      <div class="col-sm-11">
                        <form #commentForm="ngForm">
                          <textarea
                            [(ngModel)]="comment.description"
                            name="commentDescription"
                            id="commentDescription"
                            class="form-control ml-1 shadow-none textarea"
                            placeholder="Enter comment"
                            required
                          ></textarea>
                        </form>
                      </div>
                    </div>

                    <div class="mt-2 text-right">
                      <button
                        class="btn btn-primary btn-sm shadow-none"
                        type="button"
                        (click)="onComment(post)"
                      >
                        Post comment</button
                      ><button
                        class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                        type="button"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>

                  <ng-container *ngFor="let comment of post.comments">
                    <div class="row ml-5">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-11 mt-3">
                        <p>{{ comment.description }}</p>
                        <div>
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <img
                                [src]="post.author.imageurl"
                                class="rounded-circle"
                                width="20px"
                              />
                              <span> by </span>
                              <span
                                *ngIf="
                                  currentUser == comment.author.username;
                                  else notMyPost
                                "
                                >you</span
                              >
                              <ng-template #notMyPost>
                                <span class="text-info">{{
                                  comment.author.username
                                }}</span>
                              </ng-template>
                            </li>
                            <li class="list-inline-item">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span>
                                {{ comment.publishedOn | relativeTime }}</span
                              >
                            </li>
                          </ul>
                        </div>
                        <!-- <hr /> -->
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12"></div>
              </div>
              <!-- /row -->
            </div>
          </div>
          <hr />
        </div>
        <!-- All Post List view -->
      </div>
    </div>
    <!-- </div> ?? -->
  </div>
</div>
