<!-- <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Admin Home page</h2>
        <p>Make your choose.</p>
        <!-- <a href="#" class="btn btn-success btn-lg">Sign Up</a> -->
<!-- </div>
    </div>
  </div>
</div> -->
<!-- <div class="header-image">
  <div class="header-block">
    <div class="header-text">
      <div class="header-text-title">Admin Page</div>
      <p>
        Power is not revealed by striking hard or often, but by striking true.
      </p>
    </div>
  </div>
</div>
<div class="layout-container">
  <div class="product-grid"></div>
</div> -->
<div class="container">
  <h3>
    Power is not revealed by striking hard or often, but by striking true.
  </h3>
</div>
