<div class="col-md-12">
  <div class="container">
    <!-- code here -->
    <div class="match">
      <div class="match-header">
        <div class="match-tournament">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/9/96/UEFA_Euro_2020_Logo.svg/800px-UEFA_Euro_2020_Logo.svg.png"
          />Euro 2021
        </div>
        <div class="match-actions">
          <button class="btn-icon"></button>
          <button class="btn-icon"></button>
        </div>
      </div>
      <div class="match-content">
        <div class="column">
          <div class="team team--home">
            <div class="team-logo">
              <img src="https://www.countryflags.io/eu/shiny/64.png" />
            </div>
            <h2 class="team-name">{{ match.hometeam.name }}</h2>
          </div>
        </div>
        <div class="column">
          <div class="match-details">
            <div class="match-date">
              {{ match.matchdate | date: "fullDate" }}
              <strong> {{ match.matchdate | date: "shortTime" }}</strong>
            </div>
            <div class="match-score">
              <span class="match-score-number">{{ match.hometeamscore }}</span>
              <span class="match-score-divider">:</span>
              <span class="match-score-number">{{ match.awayteamscore }}</span>
            </div>
            <div class="match-time-lapsed">
              <div [ngClass]="{ live: match.status == 2 }"></div>
            </div>

            <div class="match-referee">
              Referee: <strong>Kevin Haesendonck</strong>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="team team--away">
            <div class="team-logo">
              <img src="https://www.countryflags.io/eu/shiny/64.png" />
            </div>
            <h2 class="team-name">{{ match.awayteam.name }}</h2>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="match.status == 2">
      <div class="bets">
        <div class="table-responsive">
          <div class="table-wrapper">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Bet ID</th>
                  <th>Username</th>
                  <th>Frist Name</th>
                  <th>Last Name</th>
                  <th>Bet</th>
                  <th>obtained points</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bet of bets">
                  <td>{{ bet.id }}</td>
                  <td>{{ bet.user.username }}</td>
                  <td>{{ bet.user.firstname }}</td>
                  <td>{{ bet.user.lastname }}</td>
                  <td>{{ bet.hometeambet }} - {{ bet.awayteambet }}</td>
                  <td>{{ bet.obtainedpoints }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item">
                <a href="#" class="page-link"
                  >Next <i class="fa fa-long-arrow-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
